<!-- top info -->

<div>
    <div>
        Post stats are updated daily from archive.moe + archive.whatisthisimnotgoodwithcomputers.com and 4plebs.com. Last update: {{ flag_update }} (GMT+1 / Dutch time)
    </div>
    <div>
        Population stats probably won't be updated as it's not automated and quite a hassle. Last update: {{ pop_update }}
    </div>
</div>

<!-- separator brs -->
<br><br>

<!-- filter checkboxes -->

<div>
    <!-- Micro mini non -->
    <div>
        <span>
            <input id="showMicroCountries" type="checkbox"
                   ng-click="showMicroCountries=!showMicroCountries"
                   ng-checked="showMicroCountries"/>
            <label for="showMicroCountries">Micro Countries</label>
         </span>
         <span>
            <input id="showMiniCountries" type="checkbox"
                   ng-click="showMiniCountries=!showMiniCountries"
                   ng-checked="showMiniCountries"/>
            <label for="showMiniCountries">Mini Countries</label>
         </span>
         <span>
            <input id="showNonCountries" type="checkbox"
                   ng-click="showNonCountries=!showNonCountries"
                   ng-checked="showNonCountries"/>
            <label for="showNonCountries">Non countries</label>
         </span>
    </div>
    <!-- Continents -->
    <div>
         <span>
            <input id="showAsia" type="checkbox"
                   ng-click="showAsia=!showAsia"
                   ng-checked="showAsia"/>
            <label for="showAsia">Asia</label>
         </span>
         <span>
            <input id="showAfrica" type="checkbox"
                   ng-click="showAfrica=!showAfrica"
                   ng-checked="showAfrica"/>
            <label for="showAfrica">Africa</label>
         </span>
         <span>
            <input id="showEurope" type="checkbox"
                   ng-click="showEurope=!showEurope"
                   ng-checked="showEurope"/>
            <label for="showEurope">Europe</label>
         </span>
         <span>
            <input id="showOceania" type="checkbox"
                   ng-click="showOceania=!showOceania"
                   ng-checked="showOceania"/>
            <label for="showOceania">Oceania</label>
         </span>
         <span>
            <input id="showNorthAmerica" type="checkbox"
                   ng-click="showNorthAmerica=!showNorthAmerica"
                   ng-checked="showNorthAmerica"/>
            <label for="showNorthAmerica">North America</label>
         </span>
         <span>
            <input id="showSouthAmerica" type="checkbox"
                   ng-click="showSouthAmerica=!showSouthAmerica"
                   ng-checked="showSouthAmerica"/>
            <label for="showSouthAmerica">South America</label>
         </span>
         <span>
            <input id="showOthers" type="checkbox"
                   ng-click="showOthers=!showOthers"
                   ng-checked="showOthers"/>
            <label for="showOthers">Others</label>
         </span>
    </div>
    <!-- Column toggles -->
    <div>
        <span>
            <input id="showColumnIntPosts" type="checkbox"
                   ng-click="columnIntPosts=!columnIntPosts"
                   ng-checked="columnIntPosts"/>
            <label for="showColumnIntPosts">/int/ posts</label>
         </span>
        <span>
            <input id="showColumnPolPosts" type="checkbox"
                   ng-click="columnPolPosts=!columnPolPosts"
                   ng-checked="columnPolPosts"/>
            <label for="showColumnPolPosts">/pol/ posts</label>
         </span>
        <span>
            <input id="showColumnSpPosts" type="checkbox"
                   ng-click="columnSpPosts=!columnSpPosts"
                   ng-checked="columnSpPosts"/>
            <label for="showColumnSpPosts">/sp/ posts</label>
         </span>
        <span>
            <input id="showColumnTotalPosts" type="checkbox"
                   ng-click="columnTotalPosts=!columnTotalPosts"
                   ng-checked="columnTotalPosts"/>
            <label for="showColumnTotalPosts">total posts</label>
         </span>

        <span>
            <input id="showColumnPopulation" type="checkbox"
                   ng-click="columnPopulation=!columnPopulation"
                   ng-checked="columnPopulation"/>
            <label for="showColumnPopulation">population</label>
         </span>

        <span>
            <input id="showColumnIntPpp" type="checkbox"
                   ng-click="columnIntPpp=!columnIntPpp"
                   ng-checked="columnIntPpp"/>
            <label for="showColumnIntPpp">/int/ ppp</label>
         </span>
        <span>
            <input id="showColumnPolPpp" type="checkbox"
                   ng-click="columnPolPpp=!columnPolPpp"
                   ng-checked="columnPolPpp"/>
            <label for="showColumnPolPpp">/pol/ ppp</label>
         </span>
        <span>
            <input id="showColumnSpPpp" type="checkbox"
                   ng-click="columnSpPpp=!columnSpPpp"
                   ng-checked="columnSpPpp"/>
            <label for="showColumnSpPpp">/sp/ ppp</label>
         </span>
        <span>
            <input id="showColumnTotalPpp" type="checkbox"
                   ng-click="columnTotalPpp=!columnTotalPpp"
                   ng-checked="columnTotalPpp"/>
            <label for="showColumnTotalPpp">total ppp</label>
         </span>
    </div>
</div>

<!-- separator brs -->
<br>

<div>
    <!-- start table -->
    <table>
        <!-- table head -->
        <thead>
        <tr>
            <td>Flag</td>
            <td>
                <a href="#/flagratio" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Country
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnIntPosts">
                <a href="#/flagratio" ng-click="sortType = 'posts_int'; sortReverse = !sortReverse">
                    /int/ posts
                    <span ng-show="sortType == 'posts_int' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'posts_int' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnPolPosts">
                <a href="#/flagratio" ng-click="sortType = 'posts_pol'; sortReverse = !sortReverse">
                    /pol/ posts
                    <span ng-show="sortType == 'posts_pol' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'posts_pol' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnSpPosts">
                <a href="#/flagratio" ng-click="sortType = 'posts_sp'; sortReverse = !sortReverse">
                    /sp/ posts
                    <span ng-show="sortType == 'posts_sp' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'posts_sp' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnTotalPosts">
                <a href="#/flagratio" ng-click="sortType = 'posts_total'; sortReverse = !sortReverse">
                    /int/ + /pol/ + /sp/
                    <span ng-show="sortType == 'posts_total' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'posts_total' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>

            <td ng-show="columnPopulation">
                <a href="#/flagratio" ng-click="sortType = 'population'; sortReverse = !sortReverse">
                    population
                    <span ng-show="sortType == 'population' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'population' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>

            <td ng-show="columnIntPpp">
                <a href="#/flagratio" ng-click="sortType = 'ratio_int'; sortReverse = !sortReverse">
                    /int/ ppp
                    <span ng-show="sortType == 'ratio_int' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ratio_int' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnPolPpp">
                <a href="#/flagratio" ng-click="sortType = 'ratio_pol'; sortReverse = !sortReverse">
                    /pol/ ppp
                    <span ng-show="sortType == 'ratio_pol' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ratio_pol' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnSpPpp">
                <a href="#/flagratio" ng-click="sortType = 'ratio_sp'; sortReverse = !sortReverse">
                    /sp/ ppp
                    <span ng-show="sortType == 'ratio_sp' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ratio_sp' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnTotalPpp">
                <a href="#/flagratio" ng-click="sortType = 'ratio_total'; sortReverse = !sortReverse">
                    total ppp
                    <span ng-show="sortType == 'ratio_total' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ratio_total' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>
        <!-- table content -->
        <tr ng-repeat="country in getRows() | orderBy:sortType:sortReverse">
            <td><img
                    ng-src={{"https://raw.githubusercontent.com/WhatIsThisImNotGoodWithComputers/flag-support/master/flags/"+country.code+".png"}}>
            </td>
            <td>{{ country.name }}</td>
            <td ng-show="columnIntPosts">{{ country.posts_int | number }}</td>
            <td ng-show="columnPolPosts">{{ country.posts_pol | number }}</td>
            <td ng-show="columnSpPosts">{{ country.posts_sp | number }}</td>
            <td ng-show="columnTotalPosts">{{ country.posts_total | number }}</td>

            <td ng-show="columnPopulation">{{ country.population | number }}</td>

            <td ng-show="columnIntPpp">{{ country.ratio_int }}</td>
            <td ng-show="columnPolPpp">{{ country.ratio_pol }}</td>
            <td ng-show="columnSpPpp">{{ country.ratio_sp }}</td>
            <td ng-show="columnTotalPpp">{{ country.ratio_total }}</td>
        </tr>
    </table>
</div>