<!-- top info -->

<div>
    <div>
        Flags are pulled hourly from the flag boards of 4channel.org. Last update {{ flag_update }}.<br>
        Do a hard refresh once in a while to keep the latest html.<br>
        Attendance since 23 December 2019. No old data.<br>
        - Love ~ PK :3
    </div>
</div>

<!-- separator brs -->
<br><br>

<!-- filter checkboxes -->

<div>
    <!-- all flags -->
    <div>
        <span>
            <input id="showAllFlags" type="checkbox"
                   ng-click="showAllFlags=!showAllFlags"
                   ng-checked="showAllFlags"/>
            <label for="showAllFlags">Show all flags</label>
         </span>
    </div>
    <!-- Column toggles -->
    <div>
        <span>
            <input id="showColumnInt" type="checkbox"
                   ng-click="columnInt=!columnInt"
                   ng-checked="columnInt"/>
            <label for="showColumnInt">/int/ posts</label>
         </span>
        <span>
            <input id="showColumnPol" type="checkbox"
                   ng-click="columnPol=!columnPol"
                   ng-checked="columnPol"/>
            <label for="showColumnPol">/pol/ posts</label>
         </span>
        <span>
            <input id="showColumnSp" type="checkbox"
                   ng-click="columnSp=!columnSp"
                   ng-checked="columnSp"/>
            <label for="showColumnSp">/sp/ posts</label>
         </span>
        <span>
            <input id="showColumnBant" type="checkbox"
                   ng-click="columnBant=!columnBant"
                   ng-checked="columnBant"/>
            <label for="showColumnBant">/bant/ posts</label>
         </span>
        <span>
            <input id="showColumnPresence" type="checkbox"
                   ng-click="columnPresence=!columnPresence"
                   ng-checked="columnPresence"/>
            <label for="showColumnPresence">Show attendance</label>
         </span>
    </div>
</div>

<!-- separator brs -->
<br>

<div>
    <!-- start table -->
    <table>
        <!-- table head -->
        <thead>
        <tr>
            <td>Flag</td>
            <td>
                <a href="#!/flaghunter" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Country
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td ng-show="columnInt">
                /int/ posts
            </td>
            <td ng-show="columnPol">
                /pol/ posts
            </td>
            <td ng-show="columnSp">
                /sp/ posts
            </td>
            <td ng-show="columnBant">
                /bant/ posts
            </td>
            <td ng-show="columnPresence">
                <a href="#!/flaghunter" ng-click="sortType = 'presence'; sortReverse = !sortReverse">
                    Attendance
                    <span ng-show="sortType == 'presence' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'presence' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>
        <!-- table content -->
        <tr ng-repeat="country in getRows() | orderBy:sortType:sortReverse">
            <td><img
                    ng-src={{"https://raw.githubusercontent.com/WhatIsThisImNotGoodWithComputers/flag-support/master/flags/"+country.country_code+".png"}}>
            </td>
            <td>{{ country.name }}</td>
            <td ng-show="columnInt"><a href="{{country.post_link_int}}"> {{ country.post_nr_int }}</a></td>
            <td ng-show="columnPol"><a href="{{country.post_link_pol}}">{{ country.post_nr_pol }}</a></td>
            <td ng-show="columnSp"><a href="{{country.post_link_sp}}">{{ country.post_nr_sp }}</a></td>
            <td ng-show="columnBant"><a href="{{country.post_link_bant}}">{{ country.post_nr_bant }}</a></td>

            <td ng-show="columnPresence">{{ country.presence | number }}</td>
        </tr>
    </table>
</div>